<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js'></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>


<body ng-app='myApp' ng-controller='myCtrl as myCtrl' >

    <div class='container'>

        <h5><code>Machine Learning: Handwritten Digital Recognition Using a Simplified
K-Nearest Neighbors Algorithm in Javascript.</code></h5>

        <pre> Leon Do </pre>

        <pre> Instructions: Draw a number between 0 and 9 and click analyze </pre>

        <canvas 
            id="can" 
            width="420" 
            height="420" 
            style="border:2px solid;"
            ng-click='myCtrl.scrollUp()'></canvas>


        <br>
        <input 
            type="button"
            class="waves-effect waves-light blue-grey lighten-1 btn"             
            value="clear" 
            id="clr"
            ng-click='myCtrl.clrCanvas()'>

        <input 
            type="button" 
            class="waves-effect waves-light blue-grey lighten-1 btn"
            value="analyze" 
            id="analyze"
            ng-click='myCtrl.postBase64()'>



        <pre>Base64<code id='base64Data'> &nbsp; </code></pre>
        <pre>User Image<code id='test'> &nbsp; </code> </pre>
        <pre>Distance Array<code id='distanceArr'> &nbsp; </code ></pre>
        <pre>Closet Matching Image<code id='control'> &nbsp; </code> </pre>
        <pre>Prediction<code id='answer'> &nbsp; </code></pre>


        <object width="800px" height="3150px" data="assets/ppr.pdf"></object>

    </div>

        <script type="text/javascript" src='./canvas.js'></script>
        <script type="text/javascript" src='./angular.js'></script>


        <script src="/socket.io/socket.io.js"></script>
        <script>

            /*
            Socket names
                base64Data
                getAnswer/test
                getAnswer/distanceArr
                getAnswer/control
                getAnswer/answer
            */
            // emits connection event to server
            var socket = io();

            //recieve from app.js
            socket.on('base64Data', function (data) {
                document.getElementById('base64Data').innerHTML = data.key;
            })

            socket.on('getAnswer/test', function (data) {
                var dataGrid = line2Grid(data.key)
                document.getElementById('test').innerHTML = dataGrid;
            })

            socket.on('getAnswer/distanceArr', function (data) {
                document.getElementById('distanceArr').innerHTML = data.key;
            })

            socket.on('getAnswer/control', function (data) {
                var dataGrid = line2Grid(data.key)
                document.getElementById('control').innerHTML = dataGrid;
            })       

            socket.on('getAnswer/answer', function (data) {
                document.getElementById('answer').innerHTML = data.key;
            })           




            function line2Grid(arr){
                var string = '';
                for (var i = 0; i < arr.length; i++){
                    if (i > 0 && i % 28 === 0){
                        string = string + arr[i] + '\n';
                    } else {
                        string = string + arr[i];
                    }
                }

                return string;
            }         
        </script>

</body>
</html>