<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js'></script> 

<body ng-app='myApp' ng-controller='myCtrl as myCtrl' >

        <canvas id="can" width="420" height="420" style="position:absolute;top:10%;left:10%;border:2px solid;"></canvas>
        <input 
            type="button" 
            value="clear" 
            id="clr"
            ng-click='myCtrl.clrCanvas()'>

        <input 
            type="button" 
            value="analyze" 
            id="analyze"
            ng-click='myCtrl.postBase64()'>

        <script type="text/javascript" src='./canvas.js'></script>
        <script type="text/javascript" src='./click.js'></script>

</body>
</html>